/*The main popup window*/
.popup {
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(96, 96, 96, 0.2);
  
}

#educationPopup {
  display: none;
	
}

#fitnessPopup {
  display: none;
}

#healthPopup {
  display: none;
}
.content {
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 40%;
  text-align: center;
  border-radius: 10px;
	transition: all .25s ease-in-out;
}
  
.input {
  margin: 5px;
}

.submitbutton {
  
}

.close {
  color: black;
  float: right;
  font-size: 20pt;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: grey;
  cursor: pointer;
}