.popup {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

#educationPopup {
  display: none;
}

#fitnessPopup {
  display: none;
}

#healthPopup {
  display: none;
}
.content {
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 50%;
}
  
.input {
  margin: 0 auto;
}

.close {
  color: black;
  float: right;
  font-size: 30pt;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  cursor: pointer;
}