@font-face {
    font-family: 'AirbnbCerealApp-Bold';
    src: url('../fonts/AirbnbCereal-Bold.ttf') format("truetype");
  }

/* CSS for our app */
body {
    background-image: url("../img/background-darkblue.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
	text-align: center;
	font-family: 'AirbnbCerealApp-Bold';
}


#content {
    width: 100%;
}

/* LOGO */
#logo {
    text-align: center;
}

/* MAIN BACKGROUND */
#main {
    background-color: yellow;
}

/* NAV BAR */
#nav {
    float: left;
    //background-color: blue;
    width: 20%;
    text-align: center;
    /*CHANGE FOR RESLOUTION OF SCREEN*/
}

/* CENTER TREE */
#tree {
    //background-color: red;
    width: 50%;
    margin: 0 auto;
    display: inline-block;
}

#myTree {
    background-color: ;
}

/* TO-DO LIST */
#task {
    float: right;
    //background-color: green;
    width: 30%;
}

/* BUTTONS */

button {
	color: white;
	border-radius: 5px;
	background-color: #6d7578;
	border:  none;
	cursor: pointer;
}

button:hover {
  background-color: #4CAF50; /* Green */
}

#education {
    width: 90%;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#fitness {
    width: 90%;
    height: 60px;
    margin-bottom: 10px;
}


#health {
    width: 90%;
    height: 60px;
    margin-bottom: 10px;
}

.nav-buttons {
    background-color: none;
    text-decoration: none;
}